:root {
  --float-distance-one: -10px;
  --float-distance-two: -15px;
  --float-distance-three: -5px;
}

#home {
  position: relative;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;

  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 400px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  .container-left {
    width: 50%;
  }

  .container-left {
    h2 {
      text-align: start;
      position: relative;
      text-transform: uppercase;
      background: linear-gradient(5deg, #497d59, #fff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 3rem;
      font-weight: 700;

      /* Text shadow for contrast */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
      margin: 0;
      padding: 0;
      .blinking-cursor {
        font-weight: 100;
        display: inline;
        vertical-align: middle;
        animation: blink 1s step-start infinite;
        vertical-align: middle;
      }

      @keyframes blink {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }
    }
    p {
      line-height: 1.5rem;
      font-size: 1rem;
    }

    button {
      width: 160px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      text-transform: uppercase;
      background: #497d59;
      border: none;
      color: #fff;
      font-size: 1rem;
      padding: 0.275rem 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      font-weight: bolder;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      transition:
        transform 0.2s,
        box-shadow 0.2s;
    }

    button:hover {
      transform: translateY(-2px);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .container-right {
    position: relative;
    .scene {
      width: 100%;
    }
    .item {
      background: rgba(128, 128, 128, 0.5);
      border-radius: 20px;
      position: absolute;
      width: 20%;
      left: 0;
      animation: float 2s ease-in-out infinite;
    }

    @keyframes float {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(var(--float-distance-one));
      }
    }
    .one {
      left: 10%;
      top: 50%;
      --float-distance-one: -10px; /* Use the default variable value for the first element */
    }
    .two {
      left: 70%;
      top: 120px;
      --float-distance-one: -15px; /* Override the variable for the second element */
    }

    .three {
      left: 30%;
      top: 10%;
      --float-distance-one: -5px; /* Override the variable for the third element */
    }
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;

    .container-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      button {
        margin-top: 1rem;
      }

      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-modal {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 80%;
  width: 400px;
  position: relative;
}

.custom-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.custom-modal-content {
  padding: 20px;
  font-size: 16px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 315px;
}
